<%= setup_context :title => I18n.t("plugins.next_accession.title") %>

<div class="row">
  <div class="col-md-8">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
  </div>
</div>

<div class="row">
  <div class="col-md-8" style="padding-bottom: 10px;">
    <h2><%= I18n.t("plugins.next_accession.title") %></h2>

    <%= form_tag({:controller => :next_accession, :action => :new}, {:class => "form-horizontal", :method => "POST"}) do |form| %>

      <div class="col-md-8 form-group required">
        <label class="control-label">Year of accession:</label>
        <input id="next-accession-year" name="year" type="text" class="input-large" placeholder="Enter a year... "></input>
        <button class="btn btn-sm btn-primary"><%= I18n.t("plugins.next_accession.actions.submit") %></button>
      </div>

    <% end %>

  </div>
</div>
